.formulario {
  width: 100%;
}
.contenedor-input {
  display: flex;
  justify-content: center;
}
.input {
  width: 200px;
  height: 100px;
}
/* BOTONES */

.botones {
  display: flex;
  margin-top: 30px;
}

.botones-apps {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-rappi {
  width: 100px;
  height: 130px;
  margin: 7px;
}

.btn-PY {
  width: 100px;
  height: 130px;
  margin: 7px;
}

.btn-agregar {
  width: 100px;
  height: 130px;
  margin: 7px;
}
.btn-borrar {
  width: 100px;
  height: 130px;
  margin: 7px;
}
.boton-agregar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
