.container {
  display: flex;
}

.formulario {
  width: 100%;
}
.contenedor-input {
  display: flex;
  justify-content: center;
}
.input {
  width: 80%;
  height: 100px;
}
/* BOTONES */

.botones {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.botones-apps {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-rappi {
  width: 100px;
  height: 130px;
  margin: 7px;
}

.btn-PY {
  width: 100px;
  height: 130px;
  margin: 7px;
}

.btn-agregar {
  width: 100px;
  height: 130px;
  margin: 7px;
}
.btn-en-proceso {
  width: 100px;
  height: 130px;
  margin: 7px;
  background: yellow;
}
.btn-lista {
  width: 100px;
  height: 130px;
  margin: 7px;
  background: yellowgreen;
}
.boton-agregar {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: honeydew;
}

/*VISTA */
.agregadas {
  font-size: 20px;
  background: honeydew;
  display: flex;
  flex-direction: column;
}
.en-proceso {
  background: yellow;
  font-size: 20px;
}

.ordenes-listas {
  background: yellowgreen;
  font-size: 20px;
}

.container-aceptadas {
  width: 30%;
  height: 800px;
}

.container-en-proceso {
  width: 30%;
  height: 400px;
}

.container-listas {
  width: 30%;
  height: 400px;
}
